aiohttp==3.6.2
aioify==0.3.2
aioredis==1.3.1
alembic==1.4.2
arrr==1.0.0b3
astunparse==1.6.3
async-timeout==3.0.1
attrs==19.3.0
braceexpand==0.1.5
certifi==2020.4.5.1
chardet==3.0.4
chattymarkov==1.2.7
click==7.1.2
colorama==0.4.3
colour==0.1.5
cycler==0.10.0
dataset==1.3.1
dateparser==0.7.4
decorator==4.4.2
demoji==0.2.1
Deprecated==1.2.9
discord==1.0.1
discord-ext-menus==1.0.0a21+gd9965ec
discord.py==1.3.3
emoji==0.5.4
hiredis==1.0.1
humanize==2.4.0
idna==2.9
imgkit==1.0.2
import-expression==1.1.1
jishaku==1.18.2.188
joblib==0.14.1
kiwisolver==1.2.0
Mako==1.1.2
MarkupSafe==1.1.1
matplotlib==3.2.1
module-wrapper==0.2.4
multidict==4.7.5
natural==0.2.0
nltk==3.5
numpy==1.18.4
pendulum==2.1.0
Pillow==7.1.2
poetry-version==0.1.5
praw==7.0.0
prawcore==1.3.0
psutil==5.7.0
py-expression-eval==0.3.9
PyGithub==1.51
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
pytzdata==2019.3
redis==3.5.0
regex==2020.4.4
requests==2.23.0
scipy==1.4.1
six==1.14.0
spotipy==2.12.0
SQLAlchemy==1.3.16
tomlkit==0.5.11
tqdm==4.46.0
tzlocal==2.0.0
update-checker==0.17
upsidedown==0.4
urllib3==1.25.9
uwuify==0.2.0
validators==0.14.3
websocket-client==0.57.0
websockets==8.1
wrapt==1.12.1
xerox==0.4.1
yarl==1.4.2
zalgo-text==0.6
